.main-subjects {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(1, auto);
    gap: 20px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.main-subject {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75px;
    margin: 0;
    padding: 10px;
    align-items: center;
    text-align: center;
    border: solid 2px var(--color);
    border-radius: 8px;
    box-sizing: border-box;
    font-family: Arial, serif;
    font-size: 15px;
    font-weight: 500;
    color: var(--color);
    transition: color, background-color 0.3s;
}

.main-subject:hover {
    cursor: pointer;
    background-color: var(--color);
    color: #fff;
}

@media screen and (max-width: 1910px) {
    .main-subjects {
        grid-template-columns: repeat(4, 250px);
    }
}

@media screen and (max-width: 1640px) {
    .main-subjects {
        grid-template-columns: repeat(3, 250px);
    }
}

@media screen and (max-width: 1370px) {
    .main-subjects {
        grid-template-columns: repeat(2, 250px);
    }
}
